.refresh-button {
  padding: 10px 20px;
  margin: 20px;
  background-color: transparent;
  color: black;
  border: none;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  font-family: 'Comic Sans MS', cursive;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}